body {
    margin: 0;
    padding: 0;
    background: url('../images/backgrud.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
#password{
    background-color: rgba(255, 255, 255, 0.8);
}

#emailUsername{
    background-color: rgba(255, 255, 255, 0.8);
}
#loginButton{
    color: black;
    font-weight: bold;
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    background: url('../images/backgrud.jpg') no-repeat center center fixed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form input[type="text"], .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: blue;
}

.checkbox-container input {
    display: none;
}

.checkmark {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.checkbox-container input:checked + .checkmark {
    background-color: red;
}

.additional-links a {
    display: block;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
}

.footer-links {
    position: fixed;
    bottom: 10px;
    /*right: 10px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-links a {
    margin: 5px 0;
    color: blue;
    text-decoration: none;
}
