<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/images/health.jpeg">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/contact.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('services') }}">Services</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
        <h1>CONTACT US</h1>
        <p>Our team of customer care ninjas are ready to hear from you</p>
    </header>
    <main>
        <section class="left-side">
            <h2>Reach out to us!</h2>
            <p>Got a question about our health hub? Are you interested in partnering with us? Have some questions or just want to say hi? Contact us.</p>
            <form id="contactForm">
                <input type="text" name="first_name" placeholder="First Name" required>
                <input type="text" name="last_name" placeholder="Last Name" required>
                <input type="email" name="email" placeholder="Email Address" required>
                <input type="tel" name="phone" placeholder="Phone Number" required>
                <textarea name="message" placeholder="Message" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </section>
        <section class="right-side">
            <h2>Customer Care</h2>
            <p>Not sure where to start? Need help on how to register? Having trouble with our website? Reach out to our customer care service providers.</p>
            <div class="contact-person">
                <a href="mailto:muumbidaniel0@gmail.com" target="_blank">
                    <img class="circle" src="{{ url_for('static', filename='images/james.jpeg') }}" alt="James">
                </a>
                <div class="contact-info">
                    <p>James</p>
                    <p>Customer Care Representative</p>
                </div>
            </div>
            <div class="contact-person">
                <a href="https://wa.me/254762254616?text=Hello%2C%20I%20am%20interested%20in%20your%20services%21" target="_blank">
                    <img class="circle" src="{{ url_for('static', filename='images/michelle.jpeg') }}" alt="Michelle">
                </a>
                <div class="contact-info">
                    <p>Michelle</p>
                    <p>Customer Care Representative</p>
                </div>
            </div>
            <h2>Other ways to connect</h2>
            <div class="social">
                <a href="https://twitter.com/PeaceMuumbi">
                    <img class="small-image" src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter">
                </a>
                <p>Be the first to get our threads on Twitter</p>
            </div>
            <div class="social">
                <a href="https://facebook.com/profile.php?id=61555204874374">
                    <img class="small-image" src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook">
                </a>
                <p>Be the first on our block to get product updates</p>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-column">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a href="{{ url_for('services') }}">Services</a>
            <a href="{{ url_for('about') }}">About</a>
        </div>
        <div class="footer-column">
            <p>Stay tuned</p>
            <a href="https://twitter.com/PeaceMuumbi" target="_blank">Twitter</a>
            <a href="https://wa.me/254762254616?text=Hello%2C%20I%20am%20interested%20in%20your%20services%21" target="_blank">whatssap</a>
            <a href="https://t.me/addcontact?phone=+254714202946" target="_blank">Telegram</a>
            <a href="https://www.facebook.com/profile.php?id=61555204874374" target="_blank">Facebook</a>
            <a href="mailto:muumbidaniel0@gmail.com" target="_blank">Gmail</a>

        </div>
        <div class="footer-column">
            <p>In partnership with</p>
            <a href= "https://socialprotection.org/connect/stakeholders/kenya-national-hospital-insurance-fund-nhif" target="_blank">NHIF</a>
            <a href="https://tibu.africa/?gclid=Cj0KCQjw6auyBhDzARIsALIo6v8GK-4eVzgiIPyvM-ui1V4eczVSDjEyLtAvnjTF3jfWp3686WiGhTgaAtxVEALw_wcB" target="_blank">Tibu</a>
            <a href="https://www.equitygroupholdings.com/ke" target="_blank">Equity</a>
            <a href="https://www.alxafrica.com/software-engineering-hard-vs-soft-skills/">ALX</a>
        </div>
        <div class="footer-column">
            <a href="#">Contact Us</a>
            <a href="#">Services</a>
            <a href="#">About Us</a>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Your Company. All rights reserved. <a href="file:///C:/Users/USER/Downloads/download.pdf">Privacy</a></p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='jsscripts/contact.js') }}"></script>
</body>
</html>



