<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="header-left">
            <span class="hire">Hire Me</span>
            <span>Email: muuo@muumbi.com</span>
            <span>Phone: +254 714202946</span>
        </div>
        <div class="header-right">
            <img src="{{ url_for('static', filename='images/myphoto.jpg') }}" alt="Your Photo" class="profile-photo">
        </div>
    </header>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/health-hub.png') }}" alt="Health Hub Logo">
            <p>Health Hub</p>
        </div>
        <div class="nav-links">
            <a href="services">Services</a>
            <a href="#lab-results" id="lab-results-link">Lab Results</a>
            <a href="#payments" id="payments-link" target="_blank">Payments</a>
            <a href="#appointments" id="appointments-link">Appointments</a>
            <a href="#immunization" id="immunization-link">Immunization</a>
            <a href="{{ url_for('login') }}" class="login-button">Login</a>
        </div>
        <div class="social-media">
            <a href="https://twitter.com/PeaceMuumbi" target="_blank">
                <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter">
            </a>
            <a href="https://wa.me/254762254616?text=Hello%2C%20I%20am%20interested%20in%20your%20services%21" target="_blank">
                <img src="{{ url_for('static', filename='images/whatssap.png') }}" alt="WhatsApp">
            </a>
            <a href="https://t.me/addcontact?phone=+254714202946" target="_blank">
                <img src="{{ url_for('static', filename='images/telegram.jpeg') }}" alt="Telegram">
            </a>
        </div>
    </nav>

    <!-- Cover Photo Section -->
    <div class="cover-photo">
        <img src="{{ url_for('static', filename='images/first.jpg') }}" alt="Cover Photo 1" class="cover-photo-image active">
        <img src="{{ url_for('static', filename='images/photo2.jpeg') }}" alt="Cover Photo 2" class="cover-photo-image">
        <img src="{{ url_for('static', filename='images/photo3.jpeg') }}" alt="Cover Photo 3" class="cover-photo-image">
        <img src="{{ url_for('static', filename='images/cover4.jpeg') }}" alt="Cover Photo 4" class="cover-photo-image">
        <img src="{{ url_for('static', filename='images/cover5.jpeg') }}" alt="Cover Photo 5" class="cover-photo-image">
    </div>

    <!-- Services Section -->
    <p>Health services</p>
    <section id="services">
        <div class="service-container"onclick="window.location.href='https://www.youtube.com/watch?v=MwHtUKyLrac'" target="_blank">
            <h3>Fitness Classes:</h3>
            <p>A healthy facility can provide a variety of fitness classes catering to different levels and interests. From high-intensity interval training (HIIT) to yoga and Pilates, these classes offer structured workouts led by certified instructors to help individuals improve their strength, flexibility, and cardiovascular health in a supportive group environment.</p>
        </div>
        <div class="service-container" onclick="window.location.href='https://www.nyu.edu/students/health-and-wellness/services/counseling-services/wellness-workshops.html'" target="_blank">
            <h3>Wellness Workshops:</h3>
            <p>These workshops cover various topics such as stress management, mindfulness, and sleep hygiene. Led by experts, they equip participants with practical strategies to enhance their overall well-being and cultivate a healthier lifestyle.</p>
        </div>
        <div class="service-container" onclick="window.location.href='https://www.advocatehealth.com/health-services/screenings/'" target="_blank">
            <h3>Health Screenings:</h3>
            <p>Health screenings offered at the facility provide vital information about an individual's health status. These screenings may include blood pressure checks, cholesterol tests, and body composition analysis, helping individuals monitor their health and take proactive steps towards prevention and early detection of potential health issues.</p>
        </div>
    </section>

    <!-- Health Advice Section -->
    <p class="p1">Health Tips</p>
    <section id="health-advice">
        <div class="advice-container">
            <a href="https://www.unicef.org/kenya/stories/handwashing-recipe-good-health" target="_blank">
                <img src="{{ url_for('static', filename='images/washHands.jpeg') }}" alt="Wash Hands">
            </a>
            <p>Wash your hands before eating.</p>
        </div>
        <div class="advice-container">
            <a href="https://www.healthline.com/nutrition/10-benefits-of-exercise" target="_blank">
                <img src="{{ url_for('static', filename='images/exercise.jpeg') }}" alt="Exercise">
            </a>
            <p>Exercise regularly.</p>
        </div>
        <div class="advice-container">
            <a href="https://www.medicalnewstoday.com/articles/324093" target="_blank">
                <img src="{{ url_for('static', filename='images/eating.jpeg') }}" alt="Healthy Eating">
            </a>
            <p>Eat a balanced diet.</p>
        </div>
        <div class="advice-container">
            <a href="https://www.nanavatimaxhospital.org/blogs/importance-of-regular-health-check-ups" target="_blank">
                <img src="{{ url_for('static', filename='images/checkUp.jpeg') }}" alt="Regular Health Check-ups">
            </a>
            <p>Regular Health Check-ups.</p>
        </div>
        <div class="advice-container">
            <a href="https://newsinhealth.nih.gov/2021/04/good-sleep-good-health" target="_blank">
                <img src="{{ url_for('static', filename='images/adequateSleep.jpeg') }}" alt="Adequate Sleep">
            </a>
            <p>Adequate sleep.</p>
        </div>
        <div class="advice-container">
            <a href="https://www.who.int/news-room/fact-sheets/detail/mental-health-strengthening-our-response/?gad_source=1&gclid=Cj0KCQjwjLGyBhCYARIsAPqTz18VVcl7ozGqrFGkDnNJQtfVaVQaL3wnngm2czjPU7pTK1ncN7PaRosaAmodEALw_wcB" target="_blank">
                <img src="{{ url_for('static', filename='images/stress.jpeg') }}" alt="Stress Management">
            </a>
            <p>Stress Management.</p>
        </div>
    </section>

    <!-- Health Tools Section -->
    <section id="health-tools">
        <div class="tool-container" onclick="window.location.href='https://www.calculator.net/bmi-calculator.html'">
            <p>BMI Calculator <span class="arrow">→</span></p>
        </div>
        <div class="tool-container" onclick="window.location.href='https://www.calculator.net/calorie-calculator.html'">
            <p>Calorie Calculator <span class="arrow">→</span></p>
        </div>
        <div class="tool-container" onclick="window.location.href='/services'">
            <p>More Services <span class="arrow">→</span></p>
        </div>
    </section>

    <!-- Partnership Section -->
    <section id="partnerships">
        <h3>In Partnership With</h3>
        <div class="partner-logos">
            <a href="https://socialprotection.org/connect/stakeholders/kenya-national-hospital-insurance-fund-nhif" target="_blank">
                <img src="{{ url_for('static', filename='images/nhig.jpeg') }}" alt="NHG">
            </a>
            <a href="https://www.nhif.or.ke" target="_blank">
                <img src="{{ url_for('static', filename='images/nhif.jpeg') }}" alt="NHIF">
            </a>
            <a href="https://tibu.africa/?gclid=Cj0KCQjw6auyBhDzARIsALIo6v8GK-4eVzgiIPyvM-ui1V4eczVSDjEyLtAvnjTF3jfWp3686WiGhTgaAtxVEALw_wcB" target="_blank">
                <img src="{{ url_for('static', filename='images/tibu.jpeg') }}" alt="Tibu">
            </a>
            <a href="https://www.equitygroupholdings.com/ke" target="_blank">
                <img src="{{ url_for('static', filename='images/equity.png') }}" alt="Equity Bank">
            </a>
            <a href="https://www.alxafrica.com/software-engineering-hard-vs-soft-skills/" target="_blank">
                <img src="{{ url_for('static', filename='images/alx.jpeg') }}" alt="ALX">
            </a>
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h3>About Us</h3>
                <p>Health Hub is a premier health facility offering a range of services to help individuals achieve their health and wellness goals. Our mission is to provide accessible, high-quality healthcare services to the community.</p>
            </div>
            <div class="footer-section contact-form">
                <h3>Contact Us</h3>
                <form action="mailto:muumbidaniel@gmail.com" method="post" enctype="text/plain">
                    <input type="email" name="email" placeholder="Your Email Address" required>
                    <textarea name="message" placeholder="Your Message" required></textarea>
                    <button type="submit">Send</button>
                </form>
            </div>
            <div class="footer-section links">
                <h3>Quick Links</h3>
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('services') }}">Services</a>
                <a href="{{ url_for('contact') }}">Contact Information</a>
                <a href="{{ url_for('login') }}">login</a>
            </div>
            <div class="footer-section social-media">
                <h3>Follow Us</h3>
                <a href="https://twitter.com/PeaceMuumbi" target="_blank">
                    <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter">
                </a>
                <a href="https://wa.me/254762254616?text=Hello%2C%20I%20am%20interested%20in%20your%20services%21" target="_blank">
                    <img src="{{ url_for('static', filename='images/whatssap.png') }}" alt="WhatsApp">
                </a>
                <a href="https://t.me/addcontact?phone=+254714202946" target="_blank">
                    <img src="{{ url_for('static', filename='images/telegram.jpeg') }}" alt="Telegram">
                </a>
                <a href="https://www.linkedin.com/in/daniel-muumbi-8912b6288/" target="_blank">
                    <img src="{{ url_for('static', filename='images/linkdin.png') }}" alt="linkdin">
                </a>
                <a href="https://github.com/settings/profile" target="_blank">
                    <img src="{{ url_for('static', filename='images/github.png') }}" alt="github">
                </a>
            </div>
        </div>
        <!--{% if current_user.is_authenticated %}
            <div class="footer-content">
                <p>Logged in as: {{ current_user.username }}</p>
            </div>
        {% endif %}-->
    </footer>
    <script src="{{ url_for('static', filename='jsscripts/scripts.js') }}"></script>
</body>
</html>
