<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Hub</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <!-- Header Section -->
   <header class="header">
        <div class="header-left">
            <span class="hire">Hire Me</span>
            <span>Email: muuo@muumbi.com</span>
            <span>Phone: +254 714202946</span>
        </div>
        <div class="header-right">
            <!--<img src="../images/myphoto.jpg" alt="Your Photo" class="profile-photo">-->
            <img src="{{ url_for('static', filename='images/myphoto.jpg') }}" alt="Your Photo" class="profile-photo">
        </div>
    </header>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">
            <!--<img src="../images/health-hub.png" alt="Health Hub Logo">-->
            <img src="{{ url_for('static', filename='images/health-hub.png') }}" alt="Health Hub Logo">

            <p>Health Hub</p>
        </div>
        <div class="nav-links">
            <a href="#healthier-sg">Healthier SG</a>
            <a href="#lab-results">Lab Results</a>
            <a href="#payments">Payments</a>
            <a href="#appointments">Appointments</a>
            <a href="#immunization">Immunization</a>
           <!-- <a href="login.html" class="login-button">Login</a>-->
            <a href="{{ url_for('login') }}" class="login-button">Login</a>

        </div>
        <div class="social-media">
            <a href="https://twitter.com/PeaceMuumbi" target="_blank">
                <!--<img src="../images/twitter.png" alt="Twitter"></a>-->
                <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="twitter">
            <a href="https://wa.me/254762254616?text=Hello%2C%20I%20am%20interested%20in%20your%20services%21" target="_blank">
                <!--<img src="../images/whatssap.png" alt="WhatsApp">-->
                <img src="{{ url_for('static', filename='images/whatssap.png') }}" alt="WhatsApp">
            </a>            
            <a href="https://t.me/addcontact?phone=+254714202946
            " target="_blank">
            <!--<img src="../images/telegram.jpeg" alt="Telegram"></a>-->
            <img src="{{ url_for('static', filename='images/telegram.jpeg') }}" alt="Telegram">
        </div>
    </nav>
    <!-- Cover Photo Section -->
    <div class="cover-photo">
        <!--<img src="../images/first.jpg" alt="Cover Photo 1" class="cover-photo-image active">-->
        <img src="{{ url_for('static', filename='images/first.jpg') }}" alt="Cover Photo 1" class="cover-photo-image active">
        <!--<img src="../images/photo2.jpeg" alt="Cover Photo 2" class="cover-photo-image">-->
        <img src="{{ url_for('static', filename='images/photo2.jpeg') }}" alt="Cover Photo 2" class="cover-photo-image active">
        <img src="../images/photo3.jpeg" alt="Cover Photo 3" class="cover-photo-image">
        <img src="../images/cover4.jpeg" alt="Cover Photo 3" class="cover-photo-image">
        <img src="../images/cover5.jpeg" alt="Cover Photo 3" class="cover-photo-image">
    </div>


    <!-- Services Section -->
    <p>Health services</p>
    <section id="services">
        <div class="service-container" onclick="window.location.href='service1.html'">
            <h3>Fitness Classes:</h3>
            <p>A healthy facility can provide a variety of fitness classes catering to different levels and interests. From high-intensity interval training (HIIT) to yoga and Pilates, these classes offer structured workouts led by certified instructors to help individuals improve their strength, flexibility, and cardiovascular health in a supportive group environment.</p>
        </div>
        <div class="service-container" onclick="window.location.href='service2.html'">
            <h3>Wellness Workshops:
            </h3>
            <p>These workshops cover various topics such as stress management, mindfulness, and sleep hygiene. Led by experts, they equip participants with practical strategies to enhance their overall well-being and cultivate a healthier lifestyle.</p>
        </div>
        <div class="service-container" onclick="window.location.href='service3.html'">
            <h3>Health Screenings:</h3>
            <p>Health screenings offered at the facility provide vital information about an individual's health status. These screenings may include blood pressure checks, cholesterol tests, and body composition analysis, helping individuals monitor their health and take proactive steps towards prevention and early detection of potential health issues.</p>
        </div>
    </section>

    <!-- Health Advice Section -->
    <p class="p1">Health Tips</p>
    <section id="health-advice">
        <div class="advice-container">
            <a href="https://www.unicef.org/kenya/stories/handwashing-recipe-good-health">
                <img src="../images/washHands.jpeg" alt="Wash Hands" onclick="window.location.href='https://www.unicef.org/kenya/stories/handwashing-recipe-good-health';">
            </a>            
            <p>Wash your hands before eating.</p>
        </div>
        <div class="advice-container">
            <a href="https://www.healthline.com/nutrition/10-benefits-of-exercise">
                <img src="../images/exercise.jpeg" alt="Wash Hands" onclick="window.location.href='https://www.healthline.com/nutrition/10-benefits-of-exercise';">
            </a> 
            <!--<img src="exercise.jpeg" alt="Exercise">-->
            <p>Exercise regularly.</p>
        </div>
        <div class="advice-container">
            <a href="https://www.medicalnewstoday.com/articles/324093">
                <img src="../images/eating.jpeg" alt="Wash Hands" onclick="window.location.href='https://www.medicalnewstoday.com/articles/324093';">
            </a> 
            <!--<img src="eating.jpeg" alt="Healthy Eating">-->
            <p>Eat a balanced diet.</p>
        </div>
        <div class="advice-container">
            <a href="https://www.nanavatimaxhospital.org/blogs/importance-of-regular-health-check-ups">
                <img src="../images/checkUp.jpeg" alt="Wash Hands" onclick="window.location.href='https://www.nanavatimaxhospital.org/blogs/importance-of-regular-health-check-ups';">
            </a> 
            <!--<img src="checkUp.jpeg" alt="Regular Health Check-ups">-->
            <p>Regular Health Check-ups.</p>
        </div>
        <div class="advice-container">
            <a href="https://newsinhealth.nih.gov/2021/04/good-sleep-good-health">
                <img src="../images/adequateSleep.jpeg" alt="Wash Hands" onclick="window.location.href='https://newsinhealth.nih.gov/2021/04/good-sleep-good-health';">
            </a> 
            <!--<img src="adequateSleep.jpeg" alt="Adequate sleep">-->
            <p>Adequate sleep.</p>
        </div>
        <div class="advice-container">
            <a href="https://www.who.int/news-room/fact-sheets/detail/mental-health-strengthening-our-response/?gad_source=1&gclid=Cj0KCQjwjLGyBhCYARIsAPqTz18VVcl7ozGqrFGkDnNJQtfVaVQaL3wnngm2czjPU7pTK1ncN7PaRosaAmodEALw_wcB" target="_blank">
                <img src="../images/stress.jpeg" alt="Stress" onclick="window.open('https://www.who.int/news-room/fact-sheets/detail/mental-health-strengthening-our-response/?gad_source=1&gclid=Cj0KCQjwjLGyBhCYARIsAPqTz18VVcl7ozGqrFGkDnNJQtfVaVQaL3wnngm2czjPU7pTK1ncN7PaRosaAmodEALw_wcB', '_blank');">
            </a>
            
            <!--<img src="stress.jpeg" alt="Stress Management">-->
            <p>Stress Management.</p>
        </div>
    </section>

    <!-- Health Tools Section -->
    <section id="health-tools">
        <div class="tool-container" onclick="window.location.href='https://www.calculator.net/bmi-calculator.html'">
            <p>BMI Calculator <span class="arrow">→</span></p>
        </div>
        <div class="tool-container" onclick="window.location.href='https://www.calculator.net/calorie-calculator.html'">
            <p>Calorie Calculator <span class="arrow">→</span></p>
        </div>
        <div class="tool-container" onclick="window.location.href='more-services.html'">
            <p>More Services <span class="arrow">→</span></p>
        </div>
    </section>

    <!-- Partnership Section -->
    <section id="partnerships">
        <h3>In Partnership With</h3>
        <div class="partner-logos">
            <a href="https://www.nhg.com" target="_blank"><img src="../images/nhig.jpeg" alt="NHG"></a>
            <a href="https://www.nhif.or.ke/" target="_blank"><img src="../images/nhif.jpeg" alt="NHIF"></a>
            <a href="https://tibu.africa/?gclid=Cj0KCQjw6auyBhDzARIsALIo6v8GK-4eVzgiIPyvM-ui1V4eczVSDjEyLtAvnjTF3jfWp3686WiGhTgaAtxVEALw_wcB" target="_blank"><img src="../images/tibu.jpeg" alt="Partner 3"></a>
            <a href="https://www.equityafia.co.ke/" target="_blank"><img src="../images/equityAfia.png" alt="Partner 4"></a>
            <a href="https://www.cfaogroup.com/en/homepage/" target="_blank"><img src="../images/cfao.jpeg" alt="Partner 5"></a>
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="footer-links">
            <a href="#">Resources</a>
            <a href="#">About us</a>
            <a href="#">History</a>
            <a href="#">Learn</a>
            <a href="login.html">Portal</a>
            <a href="#">Quick Links</a>
            <a href="#">Contact information</a>
            <a href="#">Facilities</a>
            <a href="#">Develper team</a>
            <a href="#">Job vacancies</a>
        </div>
    </footer>

    <script src="../jsscripts/scripts.js"></script>
</body>
</html>
