<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Hub Login</title>
    <link rel="stylesheet" href="../styles/styles1.css">
</head>
<body>
    <div class="login-container">
        <form class="login-form" id="loginForm">
            <input type="text" id="emailUsername" placeholder="Enter email/username">
            <input type="password" id="password" placeholder="Enter password">
            <button type="button" id="loginButton">Get Started</button>
            <div class="options">
                <label class="checkbox-container">
                    <input type="checkbox" id="keepLoggedIn">
                    <span class="checkmark"></span>
                    Keep logged in
                </label>
                <a href="#" id="forgotPassword">Forgot password?</a>
            </div>
            <div class="additional-links">
                <a href="../templates/register.html">Create an account</a>
                <a href="#" id="needHelp">Need help?</a>
            </div>
        </form>
    </div>
    <div class="footer-links">
        <a href="terms_of_service.pdf" target="_blank">Terms of Service</a>
        <a href="about_us.html">About Us</a>
        <a href="copyright_policy.html">Copyright Policy</a>
    </div>

    <script src="../jsscripts/script1.js"></script>
</body>
</html>
